@font-face {
	font-family: GilroyBold;
	font-display: swap;
	src: url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: GilroyLight;
	font-display: swap;
	src: url("../fonts/GilroyLight.woff2") format("woff2"), url("../fonts/GilroyLight.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: GilroyExtrabold;
	font-display: swap;
	src: url("../fonts/GilroyExtrabold.woff2") format("woff2"), url("../fonts/GilroyExtrabold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: futura;
	font-display: swap;
	src: url("../fonts/futura-pt.woff2") format("woff2"), url("../fonts/futura-pt.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: GilroyBlack;
	font-display: swap;
	src: url("../fonts/GilroyBlack.woff2") format("woff2"), url("../fonts/GilroyBlack.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: GilroyMedium;
	font-display: swap;
	src: url("../fonts/GilroyMedium.woff2") format("woff2"), url("../fonts/GilroyMedium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: GilroySemibold;
	font-display: swap;
	src: url("../fonts/GilroySemibold.woff2") format("woff2"), url("../fonts/GilroySemibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: GilroyRegular;
	font-display: swap;
	src: url("../fonts/GilroyRegular.woff2") format("woff2"), url("../fonts/GilroyRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: intro;
	font-display: swap;
	src: url("../fonts/intro.woff2") format("woff2"), url("../fonts/intro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MuseoSansCyrl500;
	font-display: swap;
	src: url("../fonts/MuseoSansCyrl500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl500.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: MuseoSansCyrl700;
	font-display: swap;
	src: url("../fonts/MuseoSansCyrl700.woff2") format("woff2"), url("../fonts/MuseoSansCyrl700.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
